@font-face {
    font-family: 'MyFont';
    src: url('./CreamySugar-gxnGR.ttf') format('ttf');
    font-style: normal;
  }

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./icon.jpg');
  }